<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改项目')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sysAgency-edit" th:object="${sysAgency}">
            <input id="iD" name="iD" th:field="*{iD}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="agencyCode" name="agencyCode" th:field="*{agencyCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">组织主图：</label>
				<div class="col-sm-8">
					<input id="imgUrl" name="imgUrl" th:field="*{imgUrl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">层次：</label>
				<div class="col-sm-8">
					<input id="dEPTH" name="dEPTH" th:field="*{dEPTH}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">类型 0:小区 1：商场：</label>
				<div class="col-sm-8">
					<input id="tYPE" name="tYPE" th:field="*{tYPE}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否有效 0:有效 1:无效：</label>
				<div class="col-sm-8">
					<input id="isVerifi" name="isVerifi" th:field="*{isVerifi}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">名称：</label>
				<div class="col-sm-8">
					<input id="nAME" name="nAME" th:field="*{nAME}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">地址：</label>
				<div class="col-sm-8">
					<input id="aDDRESS" name="aDDRESS" th:field="*{aDDRESS}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系方式：</label>
				<div class="col-sm-8">
					<input id="cONTACT" name="cONTACT" th:field="*{cONTACT}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">营业时间：</label>
				<div class="col-sm-8">
					<input id="workTime" name="workTime" th:field="*{workTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">简介：</label>
				<div class="col-sm-8">
					<input id="iNTRODUCTION" name="iNTRODUCTION" th:field="*{iNTRODUCTION}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="pID" name="pID" th:field="*{pID}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">路径：</label>
				<div class="col-sm-8">
					<input id="pATH" name="pATH" th:field="*{pATH}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">纬度：</label>
				<div class="col-sm-8">
					<input id="lATITUDE" name="lATITUDE" th:field="*{lATITUDE}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">经度：</label>
				<div class="col-sm-8">
					<input id="lONGITUDE" name="lONGITUDE" th:field="*{lONGITUDE}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">城市：</label>
				<div class="col-sm-8">
					<input id="cITY" name="cITY" th:field="*{cITY}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">省份：</label>
				<div class="col-sm-8">
					<input id="pROVINCE" name="pROVINCE" th:field="*{pROVINCE}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否删除：0 ：正常 1：删除：</label>
				<div class="col-sm-8">
					<input id="isDeleted" name="isDeleted" th:field="*{isDeleted}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建人：</label>
				<div class="col-sm-8">
					<input id="createdBy" name="createdBy" th:field="*{createdBy}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createdDate" name="createdDate" th:field="*{createdDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最后更新人：</label>
				<div class="col-sm-8">
					<input id="lastUpdatedBy" name="lastUpdatedBy" th:field="*{lastUpdatedBy}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最后更新时间：</label>
				<div class="col-sm-8">
					<input id="lastUpdatedDate" name="lastUpdatedDate" th:field="*{lastUpdatedDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司：</label>
				<div class="col-sm-8">
					<input id="cOMPANY" name="cOMPANY" th:field="*{cOMPANY}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否开业，0：待开业，1：已开业：</label>
				<div class="col-sm-8">
					<input id="isOpened" name="isOpened" th:field="*{isOpened}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="managerHouse" name="managerHouse" th:field="*{managerHouse}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">监控中心电话：</label>
				<div class="col-sm-8">
					<input id="monitorPhone" name="monitorPhone" th:field="*{monitorPhone}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">房屋数库项目ID：</label>
				<div class="col-sm-8">
					<input id="houseCommId" name="houseCommId" th:field="*{houseCommId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">党建-发展党员URL：</label>
				<div class="col-sm-8">
					<input id="partyDevUrl" name="partyDevUrl" th:field="*{partyDevUrl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">社区图标：</label>
				<div class="col-sm-8">
					<input id="partyIconUrl" name="partyIconUrl" th:field="*{partyIconUrl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">项目H5 URL：</label>
				<div class="col-sm-8">
					<input id="partyAgencyUrl" name="partyAgencyUrl" th:field="*{partyAgencyUrl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">1开，0关：</label>
				<div class="col-sm-8">
					<input id="partyEnable" name="partyEnable" th:field="*{partyEnable}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "admin/sysAgency";
		$("#form-sysAgency-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-sysAgency-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
