<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								：<input type="text" name="name"/>
							</li>

							<li>
								：<input type="text" name="phone"/>
							</li>

							<li>
								：<input type="text" name="sex"/>
							</li>

							<li>
								：<input type="text" name="homeAddress"/>
							</li>

							<li>
								：<input type="text" name="currentIdentity"/>
							</li>

							<li>
								：<input type="text" name="currentPartyBranch"/>
							</li>

							<li>
								：<input type="text" name="agencyId"/>
							</li>

							<li class="select-time">
								<label>： </label>
								<input type="text" class="time-input" id="startCreatedDate" placeholder="开始" name="params[beginCreatedDate]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endCreatedDate" placeholder="结束" name="params[endCreatedDate]"/>
							</li>
							<li>
								：<input type="text" name="appUserId"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	      
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "party/checkin";

        $(function() {
            var options = {
                url: prefix + "/select/list",
                modalName: "",
				showSearch: false,
				showRefresh: false,
				showToggle: false,
				showColumns: false,
                columns: [{
		            // checkbox: true
					radio: true,
		        },
				{
					field : 'id', 
					title : '',
					visible: false
				},
				{
					field : 'name', 
					title : '',
					sortable: true
				},
				{
					field : 'phone', 
					title : '',
					sortable: true
				},
				{
					field : 'sex', 
					title : '',
					sortable: true
				},
				{
					field : 'homeAddress', 
					title : '',
					sortable: true
				},
				{
					field : 'currentIdentity', 
					title : '',
					sortable: true
				},
				{
					field : 'currentPartyBranch', 
					title : '',
					sortable: true
				},
				{
					field : 'checkinImg', 
					title : '',
					sortable: true
				},
				{
					field : 'agencyId', 
					title : '',
					sortable: true
				},
				{
					field : 'createdDate', 
					title : '',
					sortable: true
				},
				{
					field : 'appUserId', 
					title : '',
					sortable: true
				},
				]
            };
            $.table.init(options);
        });


		/* 用于搜索等弹出框做出选择 */
		function submitHandler(index, layero) {
			var rows = $.table.selectFirstColumns();
			var rowsNames = $.table.selectColumns("title");
			if (rows.length == 0) {
				$.modal.alertWarning("请至少选择一条记录");
				return;
			}
			//弹出选择的值
			alert(rows.join());
			alert(rowsNames.join());
			$.modal.close();
			// 父页面的方法
			parent.setSelectVals(rows.join(),rowsNames.join());
		}

    </script>
</body>
</html>