<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改项目')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-agency-edit" th:object="${agency}">
        <input id="iD" name="iD" th:field="*{id}" type="hidden">


        <div class="form-group">
            <label class="col-sm-3 control-label">项目名称：</label>
            <div class="col-sm-8">
                <input id="nAME" name="nAME" th:field="*{nAME}" class="form-control" type="text" disabled="true"
                       required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">党建开关：</label>
            <div class="col-sm-8">
                <!--<input id="partyEnable" name="partyEnable" th:field="*{partyEnable}" class="form-control" type="text" required>-->
                <div class="input-group" style="width: 100%">
                    <select name="partyEnable" class="form-control m-b" th:with="type=${@dict.getType('party_enable')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:field="*{partyEnable}"></option>
                    </select>
                </div>
            </div>
        </div>
        <!--
            <div class="form-group">
                <label class="col-sm-3 control-label">党建发展党员URL：</label>
                <div class="col-sm-8">
                    <input id="partyDevUrl" name="partyDevUrl" th:field="*{partyDevUrl}" class="form-control" type="text" required>
                </div>
            </div>
            -->


        <div class="form-group">
            <label class="col-sm-3 control-label">党建社区图标</label>
            <!--<input id="partyIconUrl" name="partyIconUrl" th:field="*{partyIconUrl}" class="form-control" type="text" required>-->
            <!--<input id="partyIconUrl" name="partyIconUrl" class="form-control" type="hidden" required>-->
            <div class="col-sm-8 ">
                <input id="partyIconUrl" name="partyIconUrl"  th:field="*{partyIconUrl}" type="hidden" >
                <input class="flatyUpload" name="img" type="file"   data-max-file-count="1" id="fileinput" required>
            </div>
        </div>

    <!--   <div class="form-group">
                <label class="col-sm-3 control-label">党建社区H5地址：</label>
                <div class="col-sm-8">
                    <input id="partyAgencyUrl" name="partyAgencyUrl" th:field="*{partyAgencyUrl}" class="form-control" type="text">
                    <input class="flatyUpload" name="img" type="file"   data-max-file-count="1" id="fileinput">
                </div>
        </div>-->

    </form>
</div>

<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存
        </button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭
        </button>
    </div>
</div>

<div th:include="include::footer"></div>
<th:block th:include="include :: flaty-fileinput-js"/>
<script type="text/javascript">
    var prefix = ctx + "party/";
    $("#form-agency-edit").validate({
        rules: {},
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.saveModal(prefix + "/edit", $('#form-agency-edit').serialize());
        }
    }






</script>
</body>
</html>
