<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增管家绑定')" />
	<th:block th:include="include :: bootstrap-fileinput-css"/>
																												</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-HouseKeeperBind-add">
																																																</form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: flaty-fileinput-js"/>
																												<script type="text/javascript">
	var prefix = ctx + "property/HouseKeeperBind"
	$("#form-HouseKeeperBind-add").validate({
		focusCleanup: true
	});

	function submitHandler() {
		if ($.validate.form()) {
			$.operate.save(prefix + "/add", $('#form-HouseKeeperBind-add').serialize());
		}
	}
																																																	</script>
</body>
</html>