<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改管家绑定')" />
	<th:block th:include="include :: bootstrap-fileinput-css"/>
																												</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-HouseKeeperBind-edit" th:object="${housekeeperRelationship}">
		<input name="id" th:field="*{id}" type="hidden">
																																<div class="form-group">
						<label class="col-sm-3 control-label">房屋ID：</label>
						<div class="col-sm-8">
							<input name="roomId" th:field="*{roomId}" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">员工表的ID：</label>
						<div class="col-sm-8">
							<input name="sysUserId" th:field="*{sysUserId}" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">业主表的ID：</label>
						<div class="col-sm-8">
							<input name="appUserId" th:field="*{appUserId}" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">业主联系方式：</label>
						<div class="col-sm-8">
							<input name="appUserPhone" th:field="*{appUserPhone}" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">员工联系方式：</label>
						<div class="col-sm-8">
							<input name="sysUserPhone" th:field="*{sysUserPhone}" class="form-control" type="text">
						</div>
					</div>
																				</form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: flaty-fileinput-js"/>
																												<script type="text/javascript">
	var prefix = ctx + "property/HouseKeeperBind";
	$("#form-HouseKeeperBind-edit").validate({
		focusCleanup: true
	});

	function submitHandler() {
		if ($.validate.form()) {
			$.operate.save(prefix + "/edit", $('#form-HouseKeeperBind-edit').serialize());
		}
	}
																																																	</script>
</body>
</html>