<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增Appversion')" />
	<th:block th:include="include :: bootstrap-fileinput-css"/>
																																		</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-Appversion-add">
																											<div class="form-group">
						<label class="col-sm-3 control-label">版本号：</label>
						<div class="col-sm-8">
							<input name="version" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">安装包地址：</label>
						<div class="col-sm-8">
							<input id="packageLink" name="packageLink"   type="hidden" >
							<input class="flatyUpload" name="img" type="file"   data-max-file-count="1" id="fileinput" >
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">市场地址：</label>
						<div class="col-sm-8">
							<input name="storeLink" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">是否强制更新。1是：</label>
						<div class="col-sm-8">
							<select name="isForceUpdate" class="form-control m-b" th:with="type=${@dict.getType('app_is_force_update')}">
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">是否选择更新：</label>
						<div class="col-sm-8">
							<div class="radio-box" th:each="dict : ${@dict.getType('app_is_update')}">
								<input type="radio" th:id="${dict.dictCode}" name="isUpdate" th:value="${dict.dictValue}" >
								<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
							</div>
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">更新标题：</label>
						<div class="col-sm-8">
							<textarea name="updateTitle" class="form-control"></textarea>
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">更新内容：</label>
						<div class="col-sm-8">
							<textarea name="updateContent" class="form-control"></textarea>
						</div>
					</div>
																																		<div class="form-group">
						<label class="col-sm-3 control-label">系统：</label>
						<div class="col-sm-8">
							<select name="type" class="form-control m-b" th:with="type=${@dict.getType('app_type')}">
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">app类型：</label>
						<div class="col-sm-8">
							<select name="appType" class="form-control m-b" th:with="type=${@dict.getType('sys_app_type')}">
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
						</div>
					</div>
										</form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: flaty-fileinput-js"/>
																																		<script type="text/javascript">
	var prefix = ctx + "appExtend/Appversion"
	$("#form-Appversion-add").validate({
		focusCleanup: true
	});

	function submitHandler() {
		if ($.validate.form()) {
			$.operate.save(prefix + "/add", $('#form-Appversion-add').serialize());
		}
	}
																																																											</script>
</body>
</html>