<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改')" />
	<th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-transfer-edit" th:object="${transfer}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">姓名：</label>
				<div class="col-sm-8">
					<input id="name" name="name" th:field="*{name}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">姓别：</label>
				<div class="col-sm-8">
					<select  id="sex"   name="sex"     class="form-control m-b" th:with="type=${@dict.getType('party_app_sex')}" required>
						<option   th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
								  th:field="*{sex}"></option>
					</select>
				</div>

			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">生日：</label>
				<div class="col-sm-8">
					<input id="birthday" name="birthday" th:field="*{birthday}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">民族：</label>
				<div class="col-sm-8">
					<input id="nation" name="nation" th:field="*{nation}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最高学历：</label>
				<div class="col-sm-8">
					<input id="education" name="education" th:field="*{education}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">当前党织织：</label>
				<div class="col-sm-8">
					<input id="currentParty" name="currentParty" th:field="*{currentParty}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入党时间：</label>
				<div class="col-sm-8">
					<input id="addPartyDate" name="addPartyDate" th:field="*{addPartyDate}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司职位：</label>
				<div class="col-sm-8">
					<input id="companyDuty" name="companyDuty" th:field="*{companyDuty}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">家庭住址：</label>
				<div class="col-sm-8">
					<input id="homeAddress" name="homeAddress" th:field="*{homeAddress}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司电话：</label>
				<div class="col-sm-8">
					<input id="companyPartyPhone" name="companyPartyPhone" th:field="*{companyPartyPhone}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">本人电话：</label>
				<div class="col-sm-8">
					<input id="phone" name="phone" th:field="*{phone}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">其它特长：</label>
				<div class="col-sm-8">
					<input id="others" name="others" th:field="*{others}" class="form-control" type="text" required>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
	<th:block th:include="include :: flaty-fileinput-js"/>
    <script type="text/javascript">
		var prefix = ctx + "party/transfer";
		$("#form-transfer-edit").validate({
			rules:{
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-transfer-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
