<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增AppUser')" />
	<th:block th:include="include :: bootstrap-fileinput-css"/>
																																																																																								</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-AppUser-add">
																											<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="username" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="password" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="name" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="rights" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="roleId" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="lastLogin" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="ip" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<div class="radio-box">
								<input type="radio" name="status" value="">
								<label th:for="status" th:text="未知"></label>
							</div>
							<span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="bz" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="phone" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="sfid" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="startTime" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="endTime" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="years" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="number" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="email" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="source" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="birthday" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">性别：</label>
						<div class="col-sm-8">
							<select name="sex" class="form-control m-b">
								<option value="">所有</option>
							</select>
							<span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">头像：</label>
						<div class="col-sm-8">
							<input name="avatar" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">系统版本号：</label>
						<div class="col-sm-8">
							<input name="version" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">版本号：</label>
						<div class="col-sm-8">
							<input name="appVersion" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">设备号：</label>
						<div class="col-sm-8">
							<input name="deviceId" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">昵称：</label>
						<div class="col-sm-8">
							<input name="nickname" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">null：</label>
						<div class="col-sm-8">
							<input name="tag" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">注册小区：</label>
						<div class="col-sm-8">
							<input name="regAgencyId" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">登录次数：</label>
						<div class="col-sm-8">
							<input name="loginCount" class="form-control" type="text">
						</div>
					</div>
																													<div class="form-group">
						<label class="col-sm-3 control-label">来源：</label>
						<div class="col-sm-8">
							<input name="origin" class="form-control" type="text">
						</div>
					</div>
										</form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: flaty-fileinput-js"/>
																																																																																								<script type="text/javascript">
	var prefix = ctx + "property/AppUser"
	$("#form-AppUser-add").validate({
		focusCleanup: true
	});

	function submitHandler() {
		if ($.validate.form()) {
			$.operate.save(prefix + "/add", $('#form-AppUser-add').serialize());
		}
	}
																																																																																																																																																					</script>
</body>
</html>