package ${packageName}.domain;

import org.apache.commons.lang3.builder.ToStringBuilder;
import org.apache.commons.lang3.builder.ToStringStyle;
import com.ruoyi.common.core.domain.BaseEntity;
import com.ruoyi.common.annotation.Excel;
import javax.persistence.*;

import lombok.Data;
import java.util.Date;
#foreach ($import in $importList)
import ${import};
#end




/**
 * ${functionName}对象 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Table(name = "${tableName}")
public class ${ClassName} extends BaseEntity
{
	private static final long serialVersionUID = 1L;


#foreach ($column in $columns)
	#if($column.attrname != 'createBy' && $column.attrname != 'createdDate' && $column.attrname != 'updateBy' && $column.attrname != 'updatedDate' && $column.attrname != 'remark')
	/** $column.columnComment */
		@Column(name = "$column.columnName")
		#if($column.isPk == 1)
		@Id
		@GeneratedValue(strategy = GenerationType.IDENTITY)
		@Excel(name = "id", prompt = "id")
		#else
		@Excel(name = "$column.columnComment", prompt = "$column.columnComment")
		#end

	private $column.javaType $column.javaField;
	#end
#end











}
