package ${package}.domain;

import org.apache.commons.lang3.builder.ToStringBuilder;
import org.apache.commons.lang3.builder.ToStringStyle;
import com.ruoyi.common.core.domain.BaseEntity;
import com.ruoyi.common.annotation.Excel;
import javax.persistence.*;

import lombok.Data;
#foreach ($column in $columns)
#if($column.attrType == 'Date' && ($column.attrname != 'createBy' && $column.attrname != 'createdDate' && $column.attrname != 'updateBy' && $column.attrname != 'updatedDate' && $column.attrname != 'remark'))
import java.util.Date;
#break
#end
#end
#foreach ($column in $columns)
#if($column.attrType == 'BigDecimal')
import java.math.BigDecimal;
#break
#end
#end

/**
 * ${tableComment}表 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Table(name = "${tableName}")
public class ${className} extends BaseEntity
{
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
#if($column.attrname != 'createBy' && $column.attrname != 'createdDate' && $column.attrname != 'updateBy' && $column.attrname != 'updatedDate' && $column.attrname != 'remark')
	/** $column.columnComment */
	@Column(name = "$column.columnName")
	#if($column.columnName == $primaryKey.columnName)
	@Id
	@GeneratedValue(strategy = GenerationType.IDENTITY)
	#end
	@Excel(name = "$column.columnComment", prompt = "$column.columnComment")
	private $column.attrType $column.attrname;
#end
#end


}
