<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改app活动用户列表')" />
	<th:block th:include="include :: bootstrap-fileinput-css"/>
																						</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-AppActivityUser-edit" th:object="${appActivityUser}">
		<input name="id" th:field="*{id}" type="hidden">
																																						</form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: flaty-fileinput-js"/>
																						<script type="text/javascript">
	var prefix = ctx + "activity/AppActivityUser";
	$("#form-AppActivityUser-edit").validate({
		focusCleanup: true
	});

	function submitHandler() {
		if ($.validate.form()) {
			$.operate.save(prefix + "/edit", $('#form-AppActivityUser-edit').serialize());
		}
	}
																																							</script>
</body>
</html>