<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('${tableComment}列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		 <div class="row">
			 <div class="col-sm-12 search-collapse">
				 <form id="formId">
					 <div class="select-list">
						 <ul>
							 #foreach($column in $columns)
								 #if($column.query)
									 #set($dictType=$column.dictType)
									 #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
									 #set($parentheseIndex=$column.columnComment.indexOf("（"))
									 #if($parentheseIndex != -1)
										 #set($comment=$column.columnComment.substring(0, $parentheseIndex))
									 #else
										 #set($comment=$column.columnComment)
									 #end
									 #if($column.htmlType == "input")
										 <li>
											 ${comment}：
											 <input type="text" name="${column.javaField}"/>
										 </li>
									 #elseif($column.htmlType == "select" || $column.htmlType == "radio" && "" != $dictType)
										 <li>
											 ${comment}：
											 <select name="${column.javaField}" th:with="type=${@dict.getType('${dictType}')}">
												 <option value="">所有</option>
												 <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
											 </select>
										 </li>
									 #elseif($column.htmlType == "select" || $column.htmlType == "radio" && $dictType)
										 <li>
											 ${comment}：
											 <select name="${column.javaField}">
												 <option value="">所有</option>
											 </select>
										 </li>
									 #elseif($column.htmlType == "datetime")
										 <li class="select-time">
											 <label>${comment}：</label>
											 <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[begin${AttrName}]"/>
											 <span>-</span>
											 <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[end${AttrName}]"/>
										 </li>
									 #end
								 #end
							 #end
							 <li>
								 <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								 <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							 </li>
						 </ul>
					 </div>
				 </form>
			 </div>

			 <div class="btn-group-sm" id="toolbar" role="group">
				 <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="${permissionPrefix}:add">
					 <i class="fa fa-plus"></i> 添加
				 </a>
				 <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="${permissionPrefix}:edit">
					 <i class="fa fa-edit"></i> 修改
				 </a>
				 <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="${permissionPrefix}:remove">
					 <i class="fa fa-remove"></i> 删除
				 </a>
				 <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="${permissionPrefix}:export">
					 <i class="fa fa-download"></i> 导出
				 </a>
			 </div>
			 <div class="col-sm-12 select-table table-striped">
				 <table id="bootstrap-table" data-mobile-responsive="true"></table>
			 </div>
		 </div>
	 </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "${moduleName}/${classname}";
#foreach($column in $columns)
#if(${column.configInfo} && ${column.configInfo.type} == 'dict')
        var datas = [[${@dict.getType('${column.configInfo.value}')}]];
#end
#end

        $(function() {
            var options = {
                url: prefix + "/select/list",
                modalName: "${tableComment}",
				showSearch: false,
				showRefresh: false,
				showToggle: false,
				showColumns: false,
                columns: [{
		            // checkbox: true
					radio: true,
		        },
#foreach($column in $columns)
#if($column.columnName == $primaryKey.columnName)
				{
					field : '${column.attrname}', 
					title : '${column.columnComment}',
					visible: false
				},
#elseif($column.columnName != $primaryKey.columnName)
#if(${column.configInfo} && ${column.configInfo.type} == 'dict')
				{
					field : '${column.attrname}', 
					title : '${column.columnComment}',
					sortable: true,
					formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }
				},
#else
				{
					field : '${column.attrname}', 
					title : '${column.columnComment}',
					sortable: true
				},
#end
#end				
#end
				]
            };
            $.table.init(options);
        });


		/* 用于搜索等弹出框做出选择 */
		function submitHandler(index, layero) {
			var rows = $.table.selectFirstColumns();
			var rowsNames = $.table.selectColumns("title");
			if (rows.length == 0) {
				$.modal.alertWarning("请至少选择一条记录");
				return;
			}
			//弹出选择的值
			alert(rows.join());
			alert(rowsNames.join());
			$.modal.close();
			// 父页面的方法
			parent.setSelectVals(rows.join(),rowsNames.join());
		}

    </script>
</body>
</html>