<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.admin.activity.mapper.AppActivityUserMapper">
    
    <resultMap type="AppActivityUser" id="AppActivityUserResult">
        <result property="id"    column="id"    />
        <result property="agencyId"    column="agency_id"    />
        <result property="userId"    column="user_id"    />
        <result property="phone"    column="phone"    />
        <result property="roomId"    column="room_id"    />
        <result property="roomName"    column="room_name"    />
        <result property="createdDate"    column="created_date"    />
    </resultMap>

    <sql id="selectAppActivityUserVo">
        select id, agency_id, user_id, phone, room_id, room_name, created_date from aoyuejia_h5.activity_user
    </sql>

    <select id="selectAppActivityUserList" parameterType="AppActivityUser" resultMap="AppActivityUserResult">
        <include refid="selectAppActivityUserVo"/>
        <where>  
            <if test="phone != null  and phone != ''"> and phone like concat('%', #{phone}, '%')</if>
        </where>
    </select>
    
    <select id="selectAppActivityUserById" parameterType="Long" resultMap="AppActivityUserResult">
        <include refid="selectAppActivityUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppActivityUser" parameterType="AppActivityUser" useGeneratedKeys="true" keyProperty="id">
        insert into aoyuejia_h5.activity_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="agencyId != null ">agency_id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="roomId != null ">room_id,</if>
            <if test="roomName != null  and roomName != ''">room_name,</if>
            <if test="createdDate != null ">created_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="agencyId != null ">#{agencyId},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="roomId != null ">#{roomId},</if>
            <if test="roomName != null  and roomName != ''">#{roomName},</if>
            <if test="createdDate != null ">#{createdDate},</if>
         </trim>
    </insert>

    <update id="updateAppActivityUser" parameterType="AppActivityUser">
        update aoyuejia_h5.activity_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="agencyId != null ">agency_id = #{agencyId},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="roomId != null ">room_id = #{roomId},</if>
            <if test="roomName != null  and roomName != ''">room_name = #{roomName},</if>
            <if test="createdDate != null ">created_date = #{createdDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppActivityUserById" parameterType="Long">
        delete from aoyuejia_h5.activity_user where id = #{id}
    </delete>

    <delete id="deleteAppActivityUserByIds" parameterType="String">
        delete from aoyuejia_h5.activity_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>