<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aylives.ruoyi.admin.property.mapper.SysAgencyMapper">
    
    <resultMap type="Agency" id="SysAgencyResult">
        <result property="id"    column="ID"    />
        <result property="agencyCode"    column="AGENCY_CODE"    />
        <result property="imgUrl"    column="IMG_URL"    />
        <result property="dEPTH"    column="DEPTH"    />
        <result property="tYPE"    column="TYPE"    />
        <result property="isVerifi"    column="IS_VERIFI"    />
        <result property="name"    column="NAME"    />
        <result property="aDDRESS"    column="ADDRESS"    />
        <result property="cONTACT"    column="CONTACT"    />
        <result property="workTime"    column="WORK_TIME"    />
        <result property="iNTRODUCTION"    column="INTRODUCTION"    />
        <result property="pID"    column="PID"    />
        <result property="pATH"    column="PATH"    />
        <result property="lATITUDE"    column="LATITUDE"    />
        <result property="lONGITUDE"    column="LONGITUDE"    />
        <result property="cITY"    column="CITY"    />
        <result property="pROVINCE"    column="PROVINCE"    />
        <result property="isDeleted"    column="IS_DELETED"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdDate"    column="CREATED_DATE"    />
        <result property="lastUpdatedBy"    column="LAST_UPDATED_BY"    />
        <result property="lastUpdatedDate"    column="LAST_UPDATED_DATE"    />
        <result property="cOMPANY"    column="COMPANY"    />
        <result property="isOpened"    column="is_opened"    />
        <result property="managerHouse"    column="manager_house"    />
        <result property="monitorPhone"    column="monitor_phone"    />
        <result property="houseCommId"    column="house_comm_id"    />
        <result property="partyDevUrl"    column="party_dev_url"    />
        <result property="partyIconUrl"    column="party_icon_url"    />
        <result property="partyAgencyUrl"    column="party_agency_url"    />
        <result property="partyEnable"    column="party_enable"    />
    </resultMap>
	
	<sql id="selectSysAgencyVo">
        select ID, AGENCY_CODE, IMG_URL, DEPTH, TYPE, IS_VERIFI, NAME, ADDRESS, CONTACT, WORK_TIME, INTRODUCTION, PID, PATH, LATITUDE, LONGITUDE, CITY, PROVINCE, IS_DELETED, CREATED_BY, CREATED_DATE, LAST_UPDATED_BY, LAST_UPDATED_DATE, COMPANY, is_opened, manager_house,
               monitor_phone, house_comm_id, party_dev_url, party_icon_url, party_agency_url, party_enable from aomygod.sys_agency
    </sql>
	
    <select id="selectSysAgencyList" parameterType="Agency" resultMap="SysAgencyResult">
        <include refid="selectSysAgencyVo"/>
        <where>  
            <if test="iD != null "> and ID = #{iD}</if>
             <if test="agencyCode != null  and agencyCode != '' "> and AGENCY_CODE = #{agencyCode}</if>
             <if test="imgUrl != null  and imgUrl != '' "> and IMG_URL = #{imgUrl}</if>
             <if test="dEPTH != null  and dEPTH != '' "> and DEPTH = #{dEPTH}</if>
             <if test="tYPE != null  and tYPE != '' "> and TYPE = #{tYPE}</if>
             <if test="isVerifi != null "> and IS_VERIFI = #{isVerifi}</if>
             <if test="nAME != null  and nAME != '' "> and NAME = #{nAME}</if>
             <if test="aDDRESS != null  and aDDRESS != '' "> and ADDRESS = #{aDDRESS}</if>
             <if test="cONTACT != null  and cONTACT != '' "> and CONTACT = #{cONTACT}</if>
             <if test="workTime != null  and workTime != '' "> and WORK_TIME = #{workTime}</if>
             <if test="iNTRODUCTION != null  and iNTRODUCTION != '' "> and INTRODUCTION = #{iNTRODUCTION}</if>
             <if test="pID != null "> and PID = #{pID}</if>
             <if test="pATH != null  and pATH != '' "> and PATH = #{pATH}</if>
             <if test="lATITUDE != null "> and LATITUDE = #{lATITUDE}</if>
             <if test="lONGITUDE != null "> and LONGITUDE = #{lONGITUDE}</if>
             <if test="cITY != null "> and CITY = #{cITY}</if>
             <if test="pROVINCE != null "> and PROVINCE = #{pROVINCE}</if>
             <if test="isDeleted != null "> and IS_DELETED = #{isDeleted}</if>
             <if test="createdBy != null  and createdBy != '' "> and CREATED_BY = #{createdBy}</if>
             <if test="createdDate != null "> and CREATED_DATE = #{createdDate}</if>
             <if test="lastUpdatedBy != null  and lastUpdatedBy != '' "> and LAST_UPDATED_BY = #{lastUpdatedBy}</if>
             <if test="lastUpdatedDate != null "> and LAST_UPDATED_DATE = #{lastUpdatedDate}</if>
             <if test="cOMPANY != null  and cOMPANY != '' "> and COMPANY = #{cOMPANY}</if>
             <if test="isOpened != null "> and is_opened = #{isOpened}</if>
             <if test="managerHouse != null "> and manager_house = #{managerHouse}</if>
             <if test="monitorPhone != null  and monitorPhone != '' "> and monitor_phone = #{monitorPhone}</if>
             <if test="houseCommId != null "> and house_comm_id = #{houseCommId}</if>
             <if test="partyDevUrl != null  and partyDevUrl != '' "> and party_dev_url = #{partyDevUrl}</if>
             <if test="partyIconUrl != null  and partyIconUrl != '' "> and party_icon_url = #{partyIconUrl}</if>
             <if test="partyAgencyUrl != null  and partyAgencyUrl != '' "> and party_agency_url = #{partyAgencyUrl}</if>
             <if test="partyEnable != null "> and party_enable = #{partyEnable}</if>
         </where>
    </select>
    
    <select id="selectSysAgencyById" parameterType="Integer" resultMap="SysAgencyResult">
        <include refid="selectSysAgencyVo"/>
        where ID = #{iD}
    </select>


    <select id="selectViewByIds" resultType="cn.aylives.ruoyi.admin.property.domain.AgencyView">

        select *   from aomygod.view_agency where distAgencyId in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>

    <insert id="insertSysAgency" parameterType="Agency" useGeneratedKeys="true" keyProperty="iD">
        insert into aomygod.sys_agency
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="agencyCode != null  and agencyCode != ''  ">AGENCY_CODE,</if>
			<if test="imgUrl != null  and imgUrl != ''  ">IMG_URL,</if>
			<if test="dEPTH != null  and dEPTH != ''  ">DEPTH,</if>
			<if test="tYPE != null  and tYPE != ''  ">TYPE,</if>
			<if test="isVerifi != null  ">IS_VERIFI,</if>
			<if test="nAME != null  and nAME != ''  ">NAME,</if>
			<if test="aDDRESS != null  and aDDRESS != ''  ">ADDRESS,</if>
			<if test="cONTACT != null  and cONTACT != ''  ">CONTACT,</if>
			<if test="workTime != null  and workTime != ''  ">WORK_TIME,</if>
			<if test="iNTRODUCTION != null  and iNTRODUCTION != ''  ">INTRODUCTION,</if>
			<if test="pID != null  ">PID,</if>
			<if test="pATH != null  and pATH != ''  ">PATH,</if>
			<if test="lATITUDE != null  ">LATITUDE,</if>
			<if test="lONGITUDE != null  ">LONGITUDE,</if>
			<if test="cITY != null  ">CITY,</if>
			<if test="pROVINCE != null  ">PROVINCE,</if>
			<if test="isDeleted != null  ">IS_DELETED,</if>
			<if test="createdBy != null  and createdBy != ''  ">CREATED_BY,</if>
			<if test="createdDate != null  ">CREATED_DATE,</if>
			<if test="lastUpdatedBy != null  and lastUpdatedBy != ''  ">LAST_UPDATED_BY,</if>
			<if test="lastUpdatedDate != null  ">LAST_UPDATED_DATE,</if>
			<if test="cOMPANY != null  and cOMPANY != ''  ">COMPANY,</if>
			<if test="isOpened != null  ">is_opened,</if>
			<if test="managerHouse != null  ">manager_house,</if>
			<if test="monitorPhone != null  and monitorPhone != ''  ">monitor_phone,</if>
			<if test="houseCommId != null  ">house_comm_id,</if>
			<if test="partyDevUrl != null  and partyDevUrl != ''  ">party_dev_url,</if>
			<if test="partyIconUrl != null  and partyIconUrl != ''  ">party_icon_url,</if>
			<if test="partyAgencyUrl != null  and partyAgencyUrl != ''  ">party_agency_url,</if>
			<if test="partyEnable != null  ">party_enable,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="agencyCode != null  and agencyCode != ''  ">#{agencyCode},</if>
			<if test="imgUrl != null  and imgUrl != ''  ">#{imgUrl},</if>
			<if test="dEPTH != null  and dEPTH != ''  ">#{dEPTH},</if>
			<if test="tYPE != null  and tYPE != ''  ">#{tYPE},</if>
			<if test="isVerifi != null  ">#{isVerifi},</if>
			<if test="nAME != null  and nAME != ''  ">#{nAME},</if>
			<if test="aDDRESS != null  and aDDRESS != ''  ">#{aDDRESS},</if>
			<if test="cONTACT != null  and cONTACT != ''  ">#{cONTACT},</if>
			<if test="workTime != null  and workTime != ''  ">#{workTime},</if>
			<if test="iNTRODUCTION != null  and iNTRODUCTION != ''  ">#{iNTRODUCTION},</if>
			<if test="pID != null  ">#{pID},</if>
			<if test="pATH != null  and pATH != ''  ">#{pATH},</if>
			<if test="lATITUDE != null  ">#{lATITUDE},</if>
			<if test="lONGITUDE != null  ">#{lONGITUDE},</if>
			<if test="cITY != null  ">#{cITY},</if>
			<if test="pROVINCE != null  ">#{pROVINCE},</if>
			<if test="isDeleted != null  ">#{isDeleted},</if>
			<if test="createdBy != null  and createdBy != ''  ">#{createdBy},</if>
			<if test="createdDate != null  ">#{createdDate},</if>
			<if test="lastUpdatedBy != null  and lastUpdatedBy != ''  ">#{lastUpdatedBy},</if>
			<if test="lastUpdatedDate != null  ">#{lastUpdatedDate},</if>
			<if test="cOMPANY != null  and cOMPANY != ''  ">#{cOMPANY},</if>
			<if test="isOpened != null  ">#{isOpened},</if>
			<if test="managerHouse != null  ">#{managerHouse},</if>
			<if test="monitorPhone != null  and monitorPhone != ''  ">#{monitorPhone},</if>
			<if test="houseCommId != null  ">#{houseCommId},</if>
			<if test="partyDevUrl != null  and partyDevUrl != ''  ">#{partyDevUrl},</if>
			<if test="partyIconUrl != null  and partyIconUrl != ''  ">#{partyIconUrl},</if>
			<if test="partyAgencyUrl != null  and partyAgencyUrl != ''  ">#{partyAgencyUrl},</if>
			<if test="partyEnable != null  ">#{partyEnable},</if>
         </trim>
    </insert>
	 
    <update id="updateSysAgency" parameterType="Agency">
        update aomygod.sys_agency
        <trim prefix="SET" suffixOverrides=",">
            <if test="agencyCode != null  and agencyCode != ''  ">AGENCY_CODE = #{agencyCode},</if>
            <if test="imgUrl != null  and imgUrl != ''  ">IMG_URL = #{imgUrl},</if>
            <if test="dEPTH != null  and dEPTH != ''  ">DEPTH = #{dEPTH},</if>
            <if test="tYPE != null  and tYPE != ''  ">TYPE = #{tYPE},</if>
            <if test="isVerifi != null  ">IS_VERIFI = #{isVerifi},</if>
            <if test="nAME != null  and nAME != ''  ">NAME = #{nAME},</if>
            <if test="aDDRESS != null  and aDDRESS != ''  ">ADDRESS = #{aDDRESS},</if>
            <if test="cONTACT != null  and cONTACT != ''  ">CONTACT = #{cONTACT},</if>
            <if test="workTime != null  and workTime != ''  ">WORK_TIME = #{workTime},</if>
            <if test="iNTRODUCTION != null  and iNTRODUCTION != ''  ">INTRODUCTION = #{iNTRODUCTION},</if>
            <if test="pID != null  ">PID = #{pID},</if>
            <if test="pATH != null  and pATH != ''  ">PATH = #{pATH},</if>
            <if test="lATITUDE != null  ">LATITUDE = #{lATITUDE},</if>
            <if test="lONGITUDE != null  ">LONGITUDE = #{lONGITUDE},</if>
            <if test="cITY != null  ">CITY = #{cITY},</if>
            <if test="pROVINCE != null  ">PROVINCE = #{pROVINCE},</if>
            <if test="isDeleted != null  ">IS_DELETED = #{isDeleted},</if>
            <if test="createdBy != null  and createdBy != ''  ">CREATED_BY = #{createdBy},</if>
            <if test="createdDate != null  ">CREATED_DATE = #{createdDate},</if>
            <if test="lastUpdatedBy != null  and lastUpdatedBy != ''  ">LAST_UPDATED_BY = #{lastUpdatedBy},</if>
            <if test="lastUpdatedDate != null  ">LAST_UPDATED_DATE = #{lastUpdatedDate},</if>
            <if test="cOMPANY != null  and cOMPANY != ''  ">COMPANY = #{cOMPANY},</if>
            <if test="isOpened != null  ">is_opened = #{isOpened},</if>
            <if test="managerHouse != null  ">manager_house = #{managerHouse},</if>
            <if test="monitorPhone != null  and monitorPhone != ''  ">monitor_phone = #{monitorPhone},</if>
            <if test="houseCommId != null  ">house_comm_id = #{houseCommId},</if>
            <if test="partyDevUrl != null  and partyDevUrl != ''  ">party_dev_url = #{partyDevUrl},</if>
            <if test="partyIconUrl != null  and partyIconUrl != ''  ">party_icon_url = #{partyIconUrl},</if>
            <if test="partyAgencyUrl != null  and partyAgencyUrl != ''  ">party_agency_url = #{partyAgencyUrl},</if>
            <if test="partyEnable != null  ">party_enable = #{partyEnable},</if>
        </trim>
        where ID = #{iD}
    </update>

	<delete id="deleteSysAgencyById" parameterType="Integer">
        delete from aomygod.sys_agency where ID = #{iD}
    </delete>
	
    <delete id="deleteSysAgencyByIds" parameterType="String">
        delete from aomygod.sys_agency where ID in
        <foreach item="iD" collection="array" open="(" separator="," close=")">
            #{iD}
        </foreach>
    </delete>
    
</mapper>