<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aylives.ruoyi.admin.property.mapper.UserRoomMapper">
    
    <resultMap type="UserRoom" id="UserRoomResult">
        <result property="id"    column="ID"    />
        <result property="agId"    column="AG_ID"    />
        <result property="reId"    column="RE_ID"    />
        <result property="baId"    column="BA_ID"    />
        <result property="flId"    column="FL_ID"    />
        <result property="roomName"    column="ROOM_NAME"    />
        <result property="redundancyInfo"    column="REDUNDANCY_INFO"    />
        <result property="userId"    column="USER_ID"    />
        <result property="orId"    column="OR_ID"    />
        <result property="acreage"    column="ACREAGE"    />
        <result property="htId"    column="HT_ID"    />
        <result property="buildingType"    column="BUILDING_TYPE"    />
        <result property="jdRoomId"    column="JD_ROOM_ID"    />
        <result property="customerId"    column="CUSTOMER_ID"    />
        <result property="cusroomId"    column="CUSROOM_ID"    />
        <result property="isDel"    column="is_del"    />
        <result property="createdTime"    column="created_time"    />
        <result property="twBuildingId"    column="tw_building_id"    />
        <result property="twCommId"    column="tw_comm_id"    />
        <result property="twCustId"    column="tw_cust_id"    />
        <result property="twRoomId"    column="tw_room_id"    />
        <result property="twUnitId"    column="tw_unit_id"    />
        <result property="appUserType"    column="app_user_type"    />
        <result property="sourceRoomId"    column="source_room_id"    />
    </resultMap>

    <sql id="selectUserRoomVo">
        select ID, AG_ID, RE_ID, BA_ID, FL_ID, ROOM_NAME, REDUNDANCY_INFO, USER_ID, OR_ID, ACREAGE, HT_ID, BUILDING_TYPE, JD_ROOM_ID, CUSTOMER_ID, CUSROOM_ID, is_del, created_time, tw_building_id, tw_comm_id, tw_cust_id, tw_room_id, tw_unit_id, app_user_type, source_room_id from aomygod.sys_room
    </sql>

    <select id="selectUserRoomList" parameterType="UserRoom" resultMap="UserRoomResult">
        <include refid="selectUserRoomVo"/>
        <where>  
            <if test="redundancyInfo != null  and redundancyInfo != ''"> and REDUNDANCY_INFO like concat('%', #{redundancyInfo}, '%')</if>
            <if test="userId != null "> and USER_ID like concat('%', #{userId}, '%')</if>
            <if test="appUserType != null  and appUserType != ''"> and app_user_type = #{appUserType}</if>
            <if test="sourceRoomId != null "> and source_room_id = #{sourceRoomId}</if>
        </where>
    </select>
    
    <select id="selectUserRoomById" parameterType="Integer" resultMap="UserRoomResult">
        <include refid="selectUserRoomVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertUserRoom" parameterType="UserRoom" useGeneratedKeys="true" keyProperty="id">
        insert into aomygod.sys_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="agId != null ">AG_ID,</if>
            <if test="reId != null ">RE_ID,</if>
            <if test="baId != null ">BA_ID,</if>
            <if test="flId != null ">FL_ID,</if>
            <if test="roomName != null  and roomName != ''">ROOM_NAME,</if>
            <if test="redundancyInfo != null  and redundancyInfo != ''">REDUNDANCY_INFO,</if>
            <if test="userId != null ">USER_ID,</if>
            <if test="orId != null ">OR_ID,</if>
            <if test="acreage != null ">ACREAGE,</if>
            <if test="htId != null ">HT_ID,</if>
            <if test="buildingType != null  and buildingType != ''">BUILDING_TYPE,</if>
            <if test="jdRoomId != null  and jdRoomId != ''">JD_ROOM_ID,</if>
            <if test="customerId != null  and customerId != ''">CUSTOMER_ID,</if>
            <if test="cusroomId != null  and cusroomId != ''">CUSROOM_ID,</if>
            <if test="isDel != null ">is_del,</if>
            <if test="createdTime != null ">created_time,</if>
            <if test="twBuildingId != null ">tw_building_id,</if>
            <if test="twCommId != null ">tw_comm_id,</if>
            <if test="twCustId != null ">tw_cust_id,</if>
            <if test="twRoomId != null ">tw_room_id,</if>
            <if test="twUnitId != null ">tw_unit_id,</if>
            <if test="appUserType != null  and appUserType != ''">app_user_type,</if>
            <if test="sourceRoomId != null ">source_room_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="agId != null ">#{agId},</if>
            <if test="reId != null ">#{reId},</if>
            <if test="baId != null ">#{baId},</if>
            <if test="flId != null ">#{flId},</if>
            <if test="roomName != null  and roomName != ''">#{roomName},</if>
            <if test="redundancyInfo != null  and redundancyInfo != ''">#{redundancyInfo},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="orId != null ">#{orId},</if>
            <if test="acreage != null ">#{acreage},</if>
            <if test="htId != null ">#{htId},</if>
            <if test="buildingType != null  and buildingType != ''">#{buildingType},</if>
            <if test="jdRoomId != null  and jdRoomId != ''">#{jdRoomId},</if>
            <if test="customerId != null  and customerId != ''">#{customerId},</if>
            <if test="cusroomId != null  and cusroomId != ''">#{cusroomId},</if>
            <if test="isDel != null ">#{isDel},</if>
            <if test="createdTime != null ">#{createdTime},</if>
            <if test="twBuildingId != null ">#{twBuildingId},</if>
            <if test="twCommId != null ">#{twCommId},</if>
            <if test="twCustId != null ">#{twCustId},</if>
            <if test="twRoomId != null ">#{twRoomId},</if>
            <if test="twUnitId != null ">#{twUnitId},</if>
            <if test="appUserType != null  and appUserType != ''">#{appUserType},</if>
            <if test="sourceRoomId != null ">#{sourceRoomId},</if>
         </trim>
    </insert>

    <update id="updateUserRoom" parameterType="UserRoom">
        update aomygod.sys_room
        <trim prefix="SET" suffixOverrides=",">
            <if test="agId != null ">AG_ID = #{agId},</if>
            <if test="reId != null ">RE_ID = #{reId},</if>
            <if test="baId != null ">BA_ID = #{baId},</if>
            <if test="flId != null ">FL_ID = #{flId},</if>
            <if test="roomName != null  and roomName != ''">ROOM_NAME = #{roomName},</if>
            <if test="redundancyInfo != null  and redundancyInfo != ''">REDUNDANCY_INFO = #{redundancyInfo},</if>
            <if test="userId != null ">USER_ID = #{userId},</if>
            <if test="orId != null ">OR_ID = #{orId},</if>
            <if test="acreage != null ">ACREAGE = #{acreage},</if>
            <if test="htId != null ">HT_ID = #{htId},</if>
            <if test="buildingType != null  and buildingType != ''">BUILDING_TYPE = #{buildingType},</if>
            <if test="jdRoomId != null  and jdRoomId != ''">JD_ROOM_ID = #{jdRoomId},</if>
            <if test="customerId != null  and customerId != ''">CUSTOMER_ID = #{customerId},</if>
            <if test="cusroomId != null  and cusroomId != ''">CUSROOM_ID = #{cusroomId},</if>
            <if test="isDel != null ">is_del = #{isDel},</if>
            <if test="createdTime != null ">created_time = #{createdTime},</if>
            <if test="twBuildingId != null ">tw_building_id = #{twBuildingId},</if>
            <if test="twCommId != null ">tw_comm_id = #{twCommId},</if>
            <if test="twCustId != null ">tw_cust_id = #{twCustId},</if>
            <if test="twRoomId != null ">tw_room_id = #{twRoomId},</if>
            <if test="twUnitId != null ">tw_unit_id = #{twUnitId},</if>
            <if test="appUserType != null  and appUserType != ''">app_user_type = #{appUserType},</if>
            <if test="sourceRoomId != null ">source_room_id = #{sourceRoomId},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteUserRoomById" parameterType="Integer">
        delete from aomygod.sys_room where ID = #{id}
    </delete>

    <delete id="deleteUserRoomByIds" parameterType="String">
        delete from aomygod.sys_room where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>