<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改权限分组')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
	<th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-permission-edit" th:object="${appIndexPermission}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">权限类型：</label>
            <div class="col-sm-8">
                <select name="type" class="form-control m-b" th:with="type=${@dict.getType('app_index_permission')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                            th:field="*{type}"></option>
                </select>
            </div>
        </div>


        <div class="form-group">
          <label class="col-sm-3 control-label">权限按钮：</label>
          <div class="col-sm-8">
              <input  id="buttonIdName" name="buttonIdName" th:field="*{buttonId}" class="form-control"   onclick="selectList()" type="text">
              <input id="buttonId" name="buttonId" th:field="*{buttonId}" class="form-control"   type="hidden">
          </div>
      </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">排序：</label>
            <div class="col-sm-8">
                <input name="orderNum" th:field="*{orderNum}" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: flaty-fileinput-js"/>
<th:block th:include="include :: select2-js" />
<script type="text/javascript">
    var prefix = ctx + "appExtend/permission";
    $("#form-permission-edit").validate({
        focusCleanup: true
    });


    function selectList(){
        $.modal.open("选择",  ctx + "appExtend/indexButton" + "/select");
    }

    function setSelectVals(ids,names){
        $('#buttonId').val(ids);
        $('#buttonIdName').val(names);
    }


    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-permission-edit').serialize());
        }
    }
</script>
</body>
</html>