<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aylives.ruoyi.admin.party.mapper.CheckinMapper">
    
    <resultMap type="Checkin" id="CheckinResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="sex"    column="sex"    />
        <result property="homeAddress"    column="home_address"    />
        <result property="currentIdentity"    column="current_identity"    />
        <result property="currentPartyBranch"    column="current_party_branch"    />
        <result property="checkinImg"    column="checkin_img"    />
        <result property="agencyId"    column="agency_id"    />
        <result property="createdDate"    column="created_date"    />
        <result property="appUserId"    column="app_user_id"    />

        <result property="addPartyDate"    column="add_party_date"    />
        <result property="companyDuty"    column="company_duty"    />
        <result property="formal"    column="formal"    />
        <result property="status"    column="status"    />

        <result property="reason"    column="reason"    />


    </resultMap>
	
	<sql id="selectCheckinVo">
            select id, name, phone, sex, home_address, current_identity, current_party_branch,
                   checkin_img, agency_id, created_date, app_user_id ,add_party_date ,company_duty,formal,status ,reason
                   from aomygod.party_checkin
    </sql>
	
    <select id="selectCheckinList" parameterType="Checkin" resultMap="CheckinResult">
        <include refid="selectCheckinVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="name != null  and name != '' "> and name like   CONCAT('%',#{ name} ,'%')     </if>
             <if test="phone != null  and phone != '' "> and phone = #{phone}</if>
             <if test="sex != null "> and sex = #{sex}</if>
             <if test="homeAddress != null  and homeAddress != '' "> and home_address = #{homeAddress}</if>
             <if test="currentIdentity != null  and currentIdentity != '' "> and current_identity = #{currentIdentity}</if>
             <if test="currentPartyBranch != null  and currentPartyBranch != '' "> and current_party_branch = #{currentPartyBranch}</if>
             <if test="checkinImg != null  and checkinImg != '' "> and checkin_img = #{checkinImg}</if>
             <if test="agencyId != null and agencyId!= -1 "> and agency_id = #{agencyId}</if>
             <if test="createdDate != null "> and created_date = #{createdDate}</if>
             <if test="appUserId != null "> and app_user_id = #{appUserId}</if>

            <if test="status != null and status != ''  "> and status = #{status}</if>
            <if test="reason != null  and name != ''  "> and reason = #{reason}</if>
         </where>
    </select>
    
    <select id="selectCheckinById" parameterType="Integer" resultMap="CheckinResult">
        <include refid="selectCheckinVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCheckin" parameterType="Checkin" useGeneratedKeys="true" keyProperty="id">
        insert into aomygod.party_checkin
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null  and name != ''  ">name,</if>
			<if test="phone != null  and phone != ''  ">phone,</if>
			<if test="sex != null  ">sex,</if>
			<if test="homeAddress != null  and homeAddress != ''  ">home_address,</if>
			<if test="currentIdentity != null  and currentIdentity != ''  ">current_identity,</if>
			<if test="currentPartyBranch != null  and currentPartyBranch != ''  ">current_party_branch,</if>
			<if test="checkinImg != null  and checkinImg != ''  ">checkin_img,</if>
			<if test="agencyId != null  ">agency_id,</if>
			<if test="createdDate != null  ">created_date,</if>
			<if test="appUserId != null  ">app_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="phone != null  and phone != ''  ">#{phone},</if>
			<if test="sex != null  ">#{sex},</if>
			<if test="homeAddress != null  and homeAddress != ''  ">#{homeAddress},</if>
			<if test="currentIdentity != null  and currentIdentity != ''  ">#{currentIdentity},</if>
			<if test="currentPartyBranch != null  and currentPartyBranch != ''  ">#{currentPartyBranch},</if>
			<if test="checkinImg != null  and checkinImg != ''  ">#{checkinImg},</if>
			<if test="agencyId != null  ">#{agencyId},</if>
			<if test="createdDate != null  ">#{createdDate},</if>
			<if test="appUserId != null  ">#{appUserId},</if>

            <if test="status != null  ">#{status},</if>
            <if test="reason != null  ">#{reason},</if>

         </trim>
    </insert>
	 
    <update id="updateCheckin" parameterType="Checkin">
        update aomygod.party_checkin
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="sex != null  ">sex = #{sex},</if>
            <if test="homeAddress != null  and homeAddress != ''  ">home_address = #{homeAddress},</if>
            <if test="currentIdentity != null  and currentIdentity != ''  ">current_identity = #{currentIdentity},</if>
            <if test="currentPartyBranch != null  and currentPartyBranch != ''  ">current_party_branch = #{currentPartyBranch},</if>
            <if test="checkinImg != null  and checkinImg != ''  ">checkin_img = #{checkinImg},</if>
            <if test="agencyId != null  ">agency_id = #{agencyId},</if>
            <if test="createdDate != null  ">created_date = #{createdDate},</if>
            <if test="appUserId != null  ">app_user_id = #{appUserId},</if>

            <if test="status != null and status != ''  ">status = #{status},</if>
            <if test="reason != null  "> reason = #{reason},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteCheckinById" parameterType="Integer">
        delete from aomygod.party_checkin where id = #{id}
    </delete>
	
    <delete id="deleteCheckinByIds" parameterType="String">
        delete from aomygod.party_checkin where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>