<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aylives.ruoyi.admin.party.mapper.PartyConfigMapper">
    
    <resultMap type="PartyConfig" id="PartyConfigResult">
        <result property="id"    column="ID"    />
        <result property="name"    column="NAME"    />
        <result property="partyDevUrl"    column="party_dev_url"    />
        <result property="partyIconUrl"    column="party_icon_url"    />
        <result property="partyAgencyUrl"    column="party_agency_url"    />
        <result property="partyEnable"    column="party_enable"    />
    </resultMap>

    <sql id="selectPartyConfigVo">
        select ID, AGENCY_CODE, IMG_URL, DEPTH, TYPE, IS_VERIFI, NAME, ADDRESS, CONTACT, WORK_TIME, INTRODUCTION, PID, PATH, LATITUDE, LONGITUDE, CITY, PROVINCE, IS_DELETED, CREATED_BY, CREATED_DATE, LAST_UPDATED_BY, LAST_UPDATED_DATE, COMPANY, is_opened, manager_house, monitor_phone, house_comm_id, party_dev_url, party_icon_url, party_agency_url, party_enable, updated_date from aomygod.sys_agency
    </sql>

    <select id="selectPartyConfigList" parameterType="PartyConfig" resultMap="PartyConfigResult">
        <include refid="selectPartyConfigVo"/>
        <where>  
            <if test="name != null  and name != ''"> and NAME like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectPartyConfigById" parameterType="Integer" resultMap="PartyConfigResult">
        <include refid="selectPartyConfigVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertPartyConfig" parameterType="PartyConfig" useGeneratedKeys="true" keyProperty="id">
        insert into aomygod.sys_agency
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="agencyCode != null  and agencyCode != ''">AGENCY_CODE,</if>
            <if test="imgUrl != null  and imgUrl != ''">IMG_URL,</if>
            <if test="depth != null  and depth != ''">DEPTH,</if>
            <if test="type != null  and type != ''">TYPE,</if>
            <if test="isVerifi != null ">IS_VERIFI,</if>
            <if test="name != null  and name != ''">NAME,</if>
            <if test="address != null  and address != ''">ADDRESS,</if>
            <if test="contact != null  and contact != ''">CONTACT,</if>
            <if test="workTime != null  and workTime != ''">WORK_TIME,</if>
            <if test="introduction != null  and introduction != ''">INTRODUCTION,</if>
            <if test="pid != null ">PID,</if>
            <if test="path != null  and path != ''">PATH,</if>
            <if test="latitude != null ">LATITUDE,</if>
            <if test="longitude != null ">LONGITUDE,</if>
            <if test="city != null ">CITY,</if>
            <if test="province != null ">PROVINCE,</if>
            <if test="isDeleted != null ">IS_DELETED,</if>
            <if test="createdBy != null  and createdBy != ''">CREATED_BY,</if>
            <if test="createdDate != null ">CREATED_DATE,</if>
            <if test="lastUpdatedBy != null  and lastUpdatedBy != ''">LAST_UPDATED_BY,</if>
            <if test="lastUpdatedDate != null ">LAST_UPDATED_DATE,</if>
            <if test="company != null  and company != ''">COMPANY,</if>
            <if test="isOpened != null ">is_opened,</if>
            <if test="managerHouse != null ">manager_house,</if>
            <if test="monitorPhone != null  and monitorPhone != ''">monitor_phone,</if>
            <if test="houseCommId != null ">house_comm_id,</if>
            <if test="partyDevUrl != null  and partyDevUrl != ''">party_dev_url,</if>
            <if test="partyIconUrl != null  and partyIconUrl != ''">party_icon_url,</if>
            <if test="partyAgencyUrl != null  and partyAgencyUrl != ''">party_agency_url,</if>
            <if test="partyEnable != null ">party_enable,</if>
            <if test="updatedDate != null ">updated_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="agencyCode != null  and agencyCode != ''">#{agencyCode},</if>
            <if test="imgUrl != null  and imgUrl != ''">#{imgUrl},</if>
            <if test="depth != null  and depth != ''">#{depth},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="isVerifi != null ">#{isVerifi},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="contact != null  and contact != ''">#{contact},</if>
            <if test="workTime != null  and workTime != ''">#{workTime},</if>
            <if test="introduction != null  and introduction != ''">#{introduction},</if>
            <if test="pid != null ">#{pid},</if>
            <if test="path != null  and path != ''">#{path},</if>
            <if test="latitude != null ">#{latitude},</if>
            <if test="longitude != null ">#{longitude},</if>
            <if test="city != null ">#{city},</if>
            <if test="province != null ">#{province},</if>
            <if test="isDeleted != null ">#{isDeleted},</if>
            <if test="createdBy != null  and createdBy != ''">#{createdBy},</if>
            <if test="createdDate != null ">#{createdDate},</if>
            <if test="lastUpdatedBy != null  and lastUpdatedBy != ''">#{lastUpdatedBy},</if>
            <if test="lastUpdatedDate != null ">#{lastUpdatedDate},</if>
            <if test="company != null  and company != ''">#{company},</if>
            <if test="isOpened != null ">#{isOpened},</if>
            <if test="managerHouse != null ">#{managerHouse},</if>
            <if test="monitorPhone != null  and monitorPhone != ''">#{monitorPhone},</if>
            <if test="houseCommId != null ">#{houseCommId},</if>
            <if test="partyDevUrl != null  and partyDevUrl != ''">#{partyDevUrl},</if>
            <if test="partyIconUrl != null  and partyIconUrl != ''">#{partyIconUrl},</if>
            <if test="partyAgencyUrl != null  and partyAgencyUrl != ''">#{partyAgencyUrl},</if>
            <if test="partyEnable != null ">#{partyEnable},</if>
            <if test="updatedDate != null ">#{updatedDate},</if>
         </trim>
    </insert>

    <update id="updatePartyConfig" parameterType="PartyConfig">
        update aomygod.sys_agency
        <trim prefix="SET" suffixOverrides=",">
            <if test="partyDevUrl != null  and partyDevUrl != ''">party_dev_url = #{partyDevUrl},</if>
            <if test="partyIconUrl != null  and partyIconUrl != ''">party_icon_url = #{partyIconUrl},</if>
            <if test="partyAgencyUrl != null  and partyAgencyUrl != ''">party_agency_url = #{partyAgencyUrl},</if>
            <if test="partyEnable != null ">party_enable = #{partyEnable},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deletePartyConfigById" parameterType="Integer">
        delete from aomygod.sys_agency where ID = #{id}
    </delete>

    <delete id="deletePartyConfigByIds" parameterType="String">
        delete from aomygod.sys_agency where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>