<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aylives.ruoyi.admin.party.mapper.TransferMapper">
    
    <resultMap type="Transfer" id="TransferResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="nation"    column="nation"    />
        <result property="education"    column="education"    />
        <result property="currentParty"    column="current_party"    />
        <result property="addPartyDate"    column="add_party_date"    />
        <result property="companyDuty"    column="company_duty"    />
        <result property="homeAddress"    column="home_address"    />
        <result property="companyPartyPhone"    column="company_party_phone"    />
        <result property="phone"    column="phone"    />
        <result property="others"    column="others"    />
        <result property="agencyId"    column="agency_id"    />
        <result property="createdDate"    column="created_date"    />
        <result property="appUserId"    column="app_user_id"    />
    </resultMap>
	
	<sql id="selectTransferVo">
        select id, name, sex, birthday, nation, education, current_party, add_party_date, company_duty,
               home_address, company_party_phone, phone, others, agency_id, created_date, app_user_id from aomygod.party_transfer
    </sql>
	
    <select id="selectTransferList" parameterType="Transfer" resultMap="TransferResult">
        <include refid="selectTransferVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="sex != null "> and sex = #{sex}</if>
             <if test="birthday != null  and birthday != '' "> and birthday = #{birthday}</if>
             <if test="nation != null  and nation != '' "> and nation = #{nation}</if>
             <if test="education != null  and education != '' "> and education = #{education}</if>
             <if test="currentParty != null  and currentParty != '' "> and current_party = #{currentParty}</if>
             <if test="addPartyDate != null  and addPartyDate != '' "> and add_party_date = #{addPartyDate}</if>
             <if test="companyDuty != null  and companyDuty != '' "> and company_duty = #{companyDuty}</if>
             <if test="homeAddress != null  and homeAddress != '' "> and home_address = #{homeAddress}</if>
             <if test="companyPartyPhone != null  and companyPartyPhone != '' "> and company_party_phone = #{companyPartyPhone}</if>
             <if test="phone != null  and phone != '' "> and phone = #{phone}</if>
             <if test="others != null  and others != '' "> and others = #{others}</if>
             <if test="agencyId != null "> and agency_id = #{agencyId}</if>
             <if test="createdDate != null "> and created_date = #{createdDate}</if>
             <if test="appUserId != null "> and app_user_id = #{appUserId}</if>
         </where>
    </select>
    
    <select id="selectTransferById" parameterType="Integer" resultMap="TransferResult">
        <include refid="selectTransferVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTransfer" parameterType="Transfer" useGeneratedKeys="true" keyProperty="id">
        insert into aomygod.party_transfer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null  and name != ''  ">name,</if>
			<if test="sex != null  ">sex,</if>
			<if test="birthday != null  and birthday != ''  ">birthday,</if>
			<if test="nation != null  and nation != ''  ">nation,</if>
			<if test="education != null  and education != ''  ">education,</if>
			<if test="currentParty != null  and currentParty != ''  ">current_party,</if>
			<if test="addPartyDate != null  and addPartyDate != ''  ">add_party_date,</if>
			<if test="companyDuty != null  and companyDuty != ''  ">company_duty,</if>
			<if test="homeAddress != null  and homeAddress != ''  ">home_address,</if>
			<if test="companyPartyPhone != null  and companyPartyPhone != ''  ">company_party_phone,</if>
			<if test="phone != null  and phone != ''  ">phone,</if>
			<if test="others != null  and others != ''  ">others,</if>
			<if test="agencyId != null  ">agency_id,</if>
			<if test="createdDate != null  ">created_date,</if>
			<if test="appUserId != null  ">app_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="sex != null  ">#{sex},</if>
			<if test="birthday != null  and birthday != ''  ">#{birthday},</if>
			<if test="nation != null  and nation != ''  ">#{nation},</if>
			<if test="education != null  and education != ''  ">#{education},</if>
			<if test="currentParty != null  and currentParty != ''  ">#{currentParty},</if>
			<if test="addPartyDate != null  and addPartyDate != ''  ">#{addPartyDate},</if>
			<if test="companyDuty != null  and companyDuty != ''  ">#{companyDuty},</if>
			<if test="homeAddress != null  and homeAddress != ''  ">#{homeAddress},</if>
			<if test="companyPartyPhone != null  and companyPartyPhone != ''  ">#{companyPartyPhone},</if>
			<if test="phone != null  and phone != ''  ">#{phone},</if>
			<if test="others != null  and others != ''  ">#{others},</if>
			<if test="agencyId != null  ">#{agencyId},</if>
			<if test="createdDate != null  ">#{createdDate},</if>
			<if test="appUserId != null  ">#{appUserId},</if>
         </trim>
    </insert>
	 
    <update id="updateTransfer" parameterType="Transfer">
        update aomygod.party_transfer
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="sex != null  ">sex = #{sex},</if>
            <if test="birthday != null  and birthday != ''  ">birthday = #{birthday},</if>
            <if test="nation != null  and nation != ''  ">nation = #{nation},</if>
            <if test="education != null  and education != ''  ">education = #{education},</if>
            <if test="currentParty != null  and currentParty != ''  ">current_party = #{currentParty},</if>
            <if test="addPartyDate != null  and addPartyDate != ''  ">add_party_date = #{addPartyDate},</if>
            <if test="companyDuty != null  and companyDuty != ''  ">company_duty = #{companyDuty},</if>
            <if test="homeAddress != null  and homeAddress != ''  ">home_address = #{homeAddress},</if>
            <if test="companyPartyPhone != null  and companyPartyPhone != ''  ">company_party_phone = #{companyPartyPhone},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="others != null  and others != ''  ">others = #{others},</if>
            <if test="agencyId != null  ">agency_id = #{agencyId},</if>
            <if test="createdDate != null  ">created_date = #{createdDate},</if>
            <if test="appUserId != null  ">app_user_id = #{appUserId},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTransferById" parameterType="Integer">
        delete from aomygod.party_transfer where id = #{id}
    </delete>
	
    <delete id="deleteTransferByIds" parameterType="String">
        delete from aomygod.party_transfer where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>