<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aylives.ruoyi.admin.appExtend.mapper.AppIndexButtonMapper">
    
    <resultMap type="AppIndexButton" id="AppIndexButtonResult">
        <result property="id"    column="id"    />
        <result property="region"    column="region"    />
        <result property="classify"    column="classify"    />
        <result property="title"    column="title"    />
        <result property="icon"    column="icon"    />
        <result property="androidType"    column="android_type"    />
        <result property="iosType"    column="ios_type"    />
        <result property="extend"    column="extend"    />
        <result property="url"    column="url"    />
        <result property="type"    column="type"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createdDate"    column="created_date"    />
    </resultMap>

    <sql id="selectAppIndexButtonVo">
        select id, region, classify, title, icon, android_type, ios_type, extend, url, type,order_num, created_date from aomygod.app_index_button
    </sql>

    <select id="selectAppIndexButtonList" parameterType="AppIndexButton" resultMap="AppIndexButtonResult">
        <include refid="selectAppIndexButtonVo"/>
        <where>  
            <if test="region != null  and region != ''"> and region = #{region}</if>
            <if test="classify != null  and classify != ''"> and classify = #{classify}</if>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="createdDate != null "> and created_date = #{createdDate}</if>
        </where>
    </select>
    
    <select id="selectAppIndexButtonById" parameterType="Long" resultMap="AppIndexButtonResult">
        <include refid="selectAppIndexButtonVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppIndexButton" parameterType="AppIndexButton" useGeneratedKeys="true" keyProperty="id">
        insert into aomygod.app_index_button
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="region != null  and region != ''">region,</if>
            <if test="classify != null  and classify != ''">classify,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="icon != null  and icon != ''">icon,</if>
            <if test="androidType != null  and androidType != ''">android_type,</if>
            <if test="iosType != null  and iosType != ''">ios_type,</if>
            <if test="extend != null  and extend != ''">extend,</if>
            <if test="url != null  and url != ''">url,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="orderNum != null  and orderNum != ''">order_num,</if>
            <if test="createdDate != null ">created_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="region != null  and region != ''">#{region},</if>
            <if test="classify != null  and classify != ''">#{classify},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="icon != null  and icon != ''">#{icon},</if>
            <if test="androidType != null  and androidType != ''">#{androidType},</if>
            <if test="iosType != null  and iosType != ''">#{iosType},</if>
            <if test="extend != null  and extend != ''">#{extend},</if>
            <if test="url != null  and url != ''">#{url},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="orderNum != null  and orderNum != ''">#{orderNum},</if>
            <if test="createdDate != null ">#{createdDate},</if>
         </trim>
    </insert>

    <update id="updateAppIndexButton" parameterType="AppIndexButton">
        update aomygod.app_index_button
        <trim prefix="SET" suffixOverrides=",">
            <if test="region != null  and region != ''">region = #{region},</if>
            <if test="classify != null  and classify != ''">classify = #{classify},</if>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="icon != null  and icon != ''">icon = #{icon},</if>
            <if test="androidType != null  and androidType != ''">android_type = #{androidType},</if>
            <if test="iosType != null  and iosType != ''">ios_type = #{iosType},</if>
            <if test="extend != null  and extend != ''">extend = #{extend},</if>
            <if test="url != null  and url != ''">url = #{url},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="orderNum != null  and orderNum != ''">order_num = #{orderNum},</if>
            <if test="createdDate != null ">created_date = #{createdDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppIndexButtonById" parameterType="Long">
        delete from aomygod.app_index_button where id = #{id}
    </delete>

    <delete id="deleteAppIndexButtonByIds" parameterType="String">
        delete from aomygod.app_index_button where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>